@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: red
}
img {
  height: 30px;
}
.card {
  width: 315px;
  height: 604px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slides-block {
  height: 430px;
  margin-bottom: 25px;

}
.slides-block img  {
  max-height: 400px;
}


.promotions-block {
  font-size: 36px;
  color: #00537a;
  margin-bottom: 10px;
}
.title-promotion {
font-size: 16px;
font-weight: 500;
color: #43525a;
text-align: left;
}
.content-promotion {
  font-size: 14px;
  color:#99a1a6;
  text-align: left;
-webkit-line-clamp: 4;
display: -webkit-box;
-webkit-box-orient: vertical;
  overflow: hidden;
}
.image-promotion {
  border-radius: 10px;
}
.text-promotions {
  padding-left: 10px;
}
.text-mocarella {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
    overflow: hidden;
}